@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}