@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  width: 80%;
  margin: auto;
}

.app {
  background: #ebf1f8;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 2% 0 2% 0;
}

h3 {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.8rem;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 1%;
}

.btn-outline-primary {
  color: #1377cf;
  border-color: #1377cf;
}

.btn-outline-primary:hover {
  background: #1377cf;
  
}

.bg-primary {
  color: white;  
  background: #1377cf !important;
}

.col-xs {
  padding-right: 2vw;
}